@mixin for-small-tablets {
  @media screen and(min-width: 600px) and (max-width: 1040px) {
    @content;
  }
}
@mixin for-big-tablets {
  @media screen and(min-width: 1041px) {
    @content;
  }
}
@mixin for-desktops {
  @media screen and(min-width: 1400px) {
    @content;
  }
}

@mixin page-layout {
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  background: linear-gradient(to bottom, #ffeedf, #fffbf8);
  justify-content: flex-end;
  z-index: 1;
  text-align: right;
  @include for-big-tablets {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    text-align: unset;
  }
  @content;
}
@mixin primary-button($mobile-color) {
  will-change: transform, color, background-color;
  grid-column: 1/-1;
  grid-row: 4/5;
  margin: 20px 0 0 auto;
  width: 160px;
  height: 55px;
  border: 1px solid $mobile-color;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: $mobile-color;
  background: none;
  border-radius: 0;
  // transition: all 150ms ease;
  // &:focus {
  //   background-color: white;
  //   color: #754f44;
  // }
  // @media (hover: hover) {
  //   &:hover {
  //     background-color: #754f44;
  //     color: white;
  //   }
  // }
  @include for-big-tablets {
    grid-row: 6/7;
    grid-column: 3/8;
    margin: 20px 0 0 25px;
    font-size: 24px;
    color: #754f44;
    border: 1px solid #754f44;
  }
  @content;
}
@mixin input-behaviour {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: none;
  outline: none;
  width: 100%;
  text-align: right;
  @content;
}
