@use '../variables/' as v;
.visualBackground {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  min-height: 100%;
  z-index: -1;
  @include v.for-big-tablets {
    position: relative;
    grid-column: 9/13;
    grid-row: 1/-1;
    width: auto;
    height: auto;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1e1e1eaa, #1e1e1e7c);
    @include v.for-big-tablets {
      background: linear-gradient(to bottom, #1e1e1e7c, #1e1e1e00);
    }
  }
}
