@use './variables/' as v;

.pageContainer {
  @include v.page-layout {
    padding: 0 20px 100px 20px;
  }
  @include v.for-big-tablets {
    padding: 0;
  }
  .titleContainer {
    width: fit-content;
    grid-column: 1/-1;
    grid-row: 1/2;
    color: v.$primary-color;
    padding: 20px;
    text-align: left;
    opacity: 0.4;
    @include v.for-big-tablets {
      display: none;
    }
    h1 {
      display: inline-block;
      font-weight: bold;
      font-size: 22px;
    }
  }
  .textContainer {
    grid-column: 1/-1;
    grid-row: 2/4;
    color: v.$primary-color;
    @include v.for-big-tablets {
      grid-column: 3/8;
      grid-row: 2/5;
      margin-top: 80px;
    }
    .title {
      font-size: 30px;
      @include v.for-big-tablets {
        font-size: 45px;
      }
    }
    .paragraph {
      font-size: 14px;
      opacity: 0.7;
      line-height: 30px;
    }
  }
  .contactInfo {
    color: v.$primary-color;
    grid-column: 1/-1;
    grid-row: 4/5;
    padding: 20px 0;
    p {
      position: relative;
      font-size: 14px;
      opacity: 0.8;
      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 20px;
      }
      span {
        position: absolute;
        left: 0;
        width: 89%;
      }
    }
    .message {
      &::after,
      &::before {
        background: url("/email.svg") no-repeat bottom;
        background-size: contain;
      }
    }
    .phone {
      &::after,
      &::before {
        background: url("/phone.svg") no-repeat bottom;
        background-size: contain;
      }
    }
    .location {
      &::after,
      &::before {
        background: url("/location.svg") no-repeat bottom;
        background-size: contain;
      }
    }
    @include v.for-big-tablets {
      padding: 0;
      grid-column: 3/8;
      grid-row: 5/12;
      p {
        &::after {
          display: none;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
        span {
          position: static;
          left: auto;
        }
      }
    }
  }
  .impressum {
    color: v.$primary-color;
    grid-column: 1/-1;
    grid-row: 5/6;
    padding: 20px 0;
    a {
      @include v.primary-button(v.$primary-color) {
        display: block;
        width: fit-content;
        padding: 0 20px;
      }
    }
    @include v.for-big-tablets {
      grid-row: 6/7;
      grid-column: 3/8;
    }
  }
}
